/* Ripple effect */

.ripple {
   background-position: center;
   transition: background 0.8s;
}

.ripple:hover {
   background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
   background-color: #6eb9f7;
   background-size: 100%;
   transition: background 0s;
}

/* Button style */

button {
   background-color: #7E57C2;
   border-radius: 5px;
   border: none;
   box-shadow: 0 0 4px #999;
   color: white;
   cursor: pointer;
   font-size: 16px;
   outline: none;
   padding: 12px 18px;
   text-transform: uppercase;
   width: 100%;
   max-width: 400px;
}
